$ct-pagination-color-background: var(--color-elevation-surface-raised);
$ct-pagination-controls-color-border: var(--color-border-secondary-default);
$ct-pagination-controls-color-hover: var(--color-interaction-primary-default);
$ct-pagination-controls-color-text: var(--color-text-primary-default);

.ct-pagination {
    min-height: 64px;
    padding: 15px 20px;
    background: $ct-pagination-color-background;
    text-align: center;
    color: $ct-pagination-controls-color-text;
    position: relative;
    border-top: 1px solid $ct-pagination-controls-color-border;

    .ct-pagination__list {
        display: inline-block;
    }

    .ct-pagination__list-item {
        display: inline-block;
        list-style: none;
        margin: 0;
        font-size: var(--font-size-xs);
    }

    .ct-pagination__page-button {
        &-prev {
            .mt-icon {
                width: 16px;
                height: 16px;
                padding-top: 3px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-left: 5px;
            }
        }

        &-next {
            .mt-icon {
                width: 16px;
                height: 16px;
                padding-top: 3px;
                padding-right: 5px;
                padding-bottom: 3px;
                padding-left: 5px;
            }
        }
    }

    .ct-pagination__list-button,
    .ct-pagination__page-button,
    .ct-pagination__list-separator {
        padding: 8px 12px;
        border: 0 none;
        color: $ct-pagination-controls-color-text;
        background: none;
        cursor: pointer;
        outline: none;

        &:hover {
            color: $ct-pagination-controls-color-hover;
        }
    }

    .ct-pagination__page-button[disabled="disabled"] {
        cursor: default;

        &:hover {
            color: $ct-pagination-controls-color-text;
        }
    }

    .ct-pagination__list-separator {
        cursor: default;

        &:hover {
            color: $ct-pagination-controls-color-text;
        }
    }

    .ct-pagination__list-button {
        border-radius: 3px;

        &.is-active {
            background: $ct-pagination-controls-color-hover;
            color: var(--color-static-white);
        }
    }

    .ct-pagination__per-page {
        font-size: var(--font-size-xs);
        line-height: 16px;
        position: absolute;
        right: 0;
        top: calc(50% - 18px);
        margin: 0 20px;

        @media screen and (max-width: 900px) {
            display: none;
        }

        .mt-select {
            display: flex;
            align-items: center;
            gap: 12px;

            .mt-field__label {
                margin: 0;
            }

            .mt-block-field__block {
                max-width: 96px;
                max-height: 36px;
                min-height: auto;
            }

            .mt-select-selection-list--single {
                margin: 0;
            }

            .mt-select-selection-list__input {
                min-height: 0;
                padding-bottom: 8px;
            }

            .mt-label--dismissable {
                margin: 0;
                padding-top: 6px;
                padding-left: 0;
            }
        }
    }
}
