.ct-channel-detail-domains {
    margin-top: 20px;
}

.ct-channel-detail-domains__actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.ct-channel-detail-domains__form {
    display: grid;
    gap: 20px;
}
