@import "~scss/mixins";

.ct-duplicated-media-v2 {
    z-index: 1150;

    .ct-duplicated-media-v2__description {
        font-size: var(--font-size-xs);
        margin-bottom: 10px;
    }

    .ct-duplicated-media-v2__preview {
        margin-bottom: 35px;
    }

    .ct-media-base-item {
        margin-bottom: 0;
    }

    .ct-duplicated-media-v2__preview-separator {
        justify-self: center;
        color: var(--color-icon-secondary-default);
    }

    .ct-duplicated-media-v2__options {
        font-size: var(--font-size-xs);
        margin-bottom: 0;
    }

    .ct-field--checkbox {
        margin-bottom: 0;
    }

    .ct-modal__footer {
        grid-auto-columns: max-content;
    }

    .ct-duplicated-media-v2__additional-error-count {
        width: max-content;
    }

    .ct-duplicated-media-v2__target-upload {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
        border: 1px solid var(--color-border-secondary-default);
        border-radius: 4px;
        padding: 8px;
    }

    .ct-duplicated-media-v2__target-preview {
        position: relative;
        width: 40px;
        height: 40px;
        grid-row: 1 / span 2;
        overflow: hidden;

        .ct-media-preview-v2__item {
            min-width: 100%;
            max-width: none;
            max-height: 100%;
        }
    }

    .ct-duplicated-media-v2__target-label {
        @include truncate;

        font-size: var(--font-size-xs);
    }

    .ct-duplicated-media-v2__target-details {
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary-default);
    }
}
