@import "~scss/variables";

.ct-select {
    position: relative;

    .ct-block-field__block {
        background-color: var(--color-background-primary-default);
        position: relative;
        overflow: visible;
    }

    .ct-select__selection {
        position: relative;
        height: 100%;
        padding: 0 var(--scale-size-8);
        border: none;
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        color: var(--color-text-primary-default);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .ct-select__selection-indicators {
        position: absolute;
        display: flex;
        align-items: center;
        gap: var(--scale-size-8);
        top: 50%;
        right: var(--scale-size-16);
        transform: translate(0, -50%);
        z-index: 1;
    }

    .ct-select__selection-indicators .ct-loader {
        position: static;
        width: var(--scale-size-16);
        height: var(--scale-size-16);
        margin: 0;

        .ct-loader__container {
            transform: none;
            left: 0;
            top: 0;
        }
    }

    .ct-select__select-indicator-hitbox {
        background-color: transparent;
        border: 0 solid transparent;
        padding: 0 var(--scale-size-4);
        cursor: pointer;
        border-radius: var(--border-radius-xs);

        &:focus-visible {
            outline: var(--scale-size-2) solid var(--color-border-brand-default);
            outline-offset: var(--scale-size-2);
        }

        .ct-select__select-indicator {
            display: block;
        }

        &:focus {
            .ct-select__select-indicator-clear {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }
        }
    }

    .ct-select__select-indicator {
        flex-shrink: 0;
        cursor: pointer;

        &.ct-select__select-indicator-expand {
            transition: transform 0.3s ease-in-out;
        }

        &.ct-select__select-indicator-expand--rotated {
            transition: transform 0.3s ease-in-out;
            transform: rotate(180deg);
        }
    }

    .ct-select__select-indicator-clear {
        width: var(--scale-size-16);
        height: var(--scale-size-16);
        padding: 3px;
        transition: 0.1s opacity ease;
        opacity: 0;
        pointer-events: none;
    }

    &:hover .ct-select__select-indicator-clear,
    &.has--focus .ct-select__select-indicator-clear {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
    }

    &.ct-field--medium .ct-select__selection {
        padding: 4px var(--scale-size-16) 0;
    }

    &.ct-field--small .ct-block-field__block {
        height: auto;
    }

    &.is--disabled {
        .ct-block-field__block {
            background-color: var(--color-background-tertiary-default);
        }

        .ct-label,
        .ct-label--dismissable:hover {
            background-color: var(--color-background-tertiary-default);
            color: var(--color-text-primary-default);
            border-color: var(--color-border-primary-default);

            .ct-label__dismiss {
                color: var(--color-icon-primary-disabled);
            }
        }

        input {
            background-color: var(--color-background-tertiary-default);
        }
    }
}

// Vue.js transitions
.ct-select-result-list-fade-down-enter-active,
.ct-select-result-list-fade-down-leave-active {
    transform: translateY(0);
}

.ct-select-result-list-fade-down-enter,
.ct-select-result-list-fade-down-leave-to {
    transform: translateY(-10px);
    opacity: 0;
}
