@import "~scss/variables";

.ct-blog-category-form {
    .ct-blog-category-form__tag-field-wrapper {
        margin-top: var(--scale-size-8);
    }

    &__visibility-title {
        font-weight: var(--font-weight-semibold);
        margin-bottom: var(--scale-size-8);
    }

    &__visibility_field {
        margin-top: var(--scale-size-20);

        .ct-blog-detail__select-visibility.ct-field {
            margin-bottom: 0;
        }
    }
}
