:root {
    --ct-color-module-brand-default: #0870ff;
    --ct-color-module-neutral-default: #707886;
    --ct-color-module-red-default: #ef001a;
    --ct-color-module-orange-default: #cb5900;
    --ct-color-module-yellow-default: #a47300;
    --ct-color-module-green-default: #3b7f3f;
    --ct-color-module-cyan-default: #0083ae;
    --ct-color-module-purple-default: #8258ff;
    --ct-color-module-pink-default: #e70870;
}
