.mt-select-result {
    .ct-channel-defaults-select__active-icon {
        margin-right: 10px;
        display: block;
    }
}

.ct-channel-defaults-select [class*='ct-channel-detail__assign-'] {
    .mt-select__selection {
        height: auto;
    }

    .mt-block-field__block {
        height: auto;
        min-height: var(--scale-size-48);
    }
}
