.ct-permissions-permissions-grid {
    .mt-card__content {
        padding: 0;
    }

    .ct-permissions-permissions-grid__grid {
        display: flex;
        flex-direction: column;
    }

    .ct-permissions-permissions-grid__entry {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid var(--color-border-secondary-default);
        padding-left: var(--scale-size-14);
        background: var(--color-elevation-surface-default);

        &:nth-child(even) {
            background-color: var(--color-elevation-surface-sunken);
        }

        &:last-child {
            border-bottom: none;
            border-radius: var(--border-radius-card);
        }
    }

    .ct-permissions-permissions-grid__parent {
        background: var(--color-background-tertiary-default) !important;

        .ct-permissions-permissions-grid__title {
            font-weight: var(--font-weight-semi-bold);
            padding-left: var(--scale-size-14);
        }
    }

    .ct-permissions-permissions-grid__entry-header {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        font-weight: var(--font-weight-bold);

        .ct-permissions-permissions-grid__title {
            min-height: var(--scale-size-48);
        }
    }

    .ct-permissions-permissions-grid__title,
    .ct-permissions-permissions-grid__all,
    .ct-permissions-permissions-grid__checkbox-wrapper {
        min-width: var(--scale-size-96);
        min-height: var(--scale-size-32);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--scale-size-14);

        .ct-field--checkbox {
            margin-bottom: 0;
        }
    }

    .ct-permissions-permissions-grid__title {
        font-size: var(--font-size-xs);
        line-height: var(--font-line-height-xs);
        margin-right: auto;
        width: auto;
        justify-content: left;
        padding-left: var(--scale-size-28);
    }
}
