.ct-users-user-listing {
    .mt-card__content {
        padding: 0;
    }

    .ct-data-grid {
        border-radius: var(--border-radius-card);
    }
}

.ct-users-user-listing__delete-modal {
    .ct-users-user-listing__confirm-delete-text {
        margin-bottom: var(--scale-size-24);
    }
}
