.ct-custom-field-translated-labels {
    .ct-tabs .ct-tabs__bar {
        margin: 0 0 24px;
        max-width: none;
    }

    .ct-tabs-item.ct-tabs-item__minimal {
        line-height: 44px;
    }
}
