@import "~scss/mixins";

.ct-media-breadcrumbs {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;

    a {
        cursor: pointer;
    }

    .ct-media-breadcrumbs__entry {
        font-size: var(--font-size-m);
        display: flex;
        align-items: center;
        margin-top: 5px;

        @include truncate;
    }

    .ct-media-breadcrumbs__parent-folder {
        color: var(--color-text-secondary-default);
    }

    .ct-media-breadcrumbs__arrow-separator {
        color: var(--color-text-primary-default);

        &.mt-icon {
            width: 22px;
            height: 22px;
            padding-top: 7px;
            padding-right: 7px;
            padding-bottom: 6px;
            padding-left: 10px;
        }
    }

    &.is--small .ct-media-breadcrumbs__entry {
        font-size: var(--font-size-xs);
    }
}
