.ct-experience-studio-media-collection-field {
    display: flex;
    flex-direction: column;
    gap: var(--mt-spacing-xs);

    // Smaller media items in the grid to fit in the sidebar
    .ct-media-list-selection-v2__grid {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: var(--scale-size-8);
        padding: var(--scale-size-8);
    }

    &__label {
        color: var(--color-darkgray-200);
        font-size: var(--mt-font-size-xs);
        font-weight: var(--mt-font-weight-medium);
    }
}
