@import "~scss/variables";

.ct-category-view {
    .ct-category-view__column-info {
        max-width: $content-width;
        margin: 0 auto 40px;
    }

    .ct-category-view__column-info-header {
        font-weight: var(--font-weight-semibold);
        margin-bottom: 10px;
    }
}
