@import "~scss/variables";

.ct-language-info {
    padding: 0;
    max-width: $content-width-wide;
    margin: 0 auto 20px;
    height: 36px;
    color: var(--color-text-primary-default);
    font-size: var(--font-size-xs);

    .ct-language-info__link-parent {
        color: var(--color-text-brand-default);
        cursor: pointer;
    }
}
