.ct-settings-logging-mail-sent-info__mail-content {
    border: 1px solid var(--color-border-secondary-default);
    padding: 12px;
}

.ct-settings-logging-mail-sent-info__recipients {
    padding-bottom: 12px;
}
