.blog-basic-form {
    position: relative;

    .blog-basic-form__switches {
        display: flex;
        justify-content: space-between;

        .ct-field {
            margin-right: var(--scale-size-20);
        }
    }

    .ct-blog-basic-form__inheritance-wrapper-description {
        margin-bottom: var(--scale-size-12);
    }
}
